{% extends "base.html" %}
{% block content %}
<div class="input-group">
  <div>
  <span class="input-group-text">First and last name</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control"></div>
  <div>
    <span class="input-group-text">Mobile Number</span>
  <input type="text" aria-label="First name" class="form-control"></div>
  <div>
    <span class="input-group-text">Age</span>
  <input type="text" aria-label="First name" class="form-control"></div>
  <div>
    <span class="input-group-text">Doctor Name</span>
  <input type="text" aria-label="First name" class="form-control"></div>
</div>
{% endblock content %}